# Supabase
SUPABASE_URL=https://xbxghctbfhtwhgetzavd.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhieGdoY3RiZmh0d2hnZXR6YXZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzg5NzY0MCwiZXhwIjoyMDkzNDczNjQwfQ.46JKv4UUKWFYrQktmj7jmBzhCgG8_F9tA61WGvGB3tg
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhieGdoY3RiZmh0d2hnZXR6YXZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4OTc2NDAsImV4cCI6MjA5MzQ3MzY0MH0.PifXnjl9RZE2Ob7vEA-L0iLocQiybczRHJuEM-koh60
# JWT para sesión del app
JWT_SECRET=POI09poi.12345

# Seguridad webhook (debe coincidir con APP_WEBHOOK_SECRET en Twilio)
WEBHOOK_SHARED_SECRET=POI09poi.12345
